@*
   
*@
@{
}
@model exam_portal.Models.Exam;

<h1>Student</h1>

<nav class="nav flex-column">
    <a class="nav-link active" aria-current="page" href="#">Home</a>
    <a class="nav-link" asp-area="" asp-controller="Exam" asp-action="Index">View All Exam</a>
</nav>