@*
    
*@
@{
}

<h1>Teacher</h1>
<nav class="nav flex-column">
    <a class="nav-link active" aria-current="page" href="#">Home</a>
    <a class="nav-link" asp-area="" asp-controller="Exam" asp-action="Create">Create Exam</a>
    <a class="nav-link" asp-area="" asp-controller="Exam" asp-action="Index">View All Exam</a>
    <a class="nav-link" asp-area="" asp-controller="Question" asp-action="Create">Create Question</a>
    <a class="nav-link" asp-area="" asp-controller="Question" asp-action="Index">View Questions</a>
</nav>